@*Tempat list*@
<p>
    <button id="idBtnCreate" type="button" class=" btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Create Data
    </button>

</p>

<br />
<div class="form-inline col-lg-4 pull-right">
    <input type="text" id="idSearch" name="search" value="" class="form-control col-lg-10" placeholder="Cari Berdasarkan Nama" />
    <button type="button" id="idBtnSearch" class=" btn btn-info col-lg-2">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<br />
<hr />

<div id="idListDataPegawai">

</div>

@*untuk popup create data*@
<div class="modal fade" tabindex="-1" role="dialog" id="idModalCreatePegawai">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="idModalBodyPegawai">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="idBtnSavePegawai" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*untuk popup Edit data*@
<div class="modal fade" tabindex="-1" role="dialog" id="idModalEditPegawai">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="idModalBodyEditPegawai">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="idBtnSaveEditPegawai" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    //inject view list
    $(document).ready(function () {
        $.ajax({
            url: "/Pegawai/GetList",
            type: "GET",
            success: function (model) {
                $("#idListDataPegawai").html(model);
            }
        });
    });


    $("#idBtnCreate").click(function () {
        $.ajax({
            url: "/Pegawai/Create",
            type: "GET",
            success: function (model) {
                $("#idModalBodyPegawai").html(model);
                $("#idModalCreatePegawai").modal("show");
            }
        });
    });

    $("#idBtnSavePegawai").click(function () {
        debugger;
        var vFormPegawai = $("#idFormPegawai").serialize();

        $.ajax({
            url: "/Pegawai/Create",
            data: vFormPegawai,
            type: "POST",
            success: function (model) {
                debugger;
                if (model.Pesan == "Success") {
                    alert("Selamat Berhasil Di Simpan");
                    $("#idModalCreatePegawai").modal("hide");
                    window.location.href = "/Pegawai/Index";
                }
            },
            error: function (model) {
            }
        });
    });

    $("#idBtnSaveEditPegawai").click(function () {
        debugger;
        var vFormEditPegawai = $("#idFormEditPegawai").serialize();

        $.ajax({
            url: "/Pegawai/Edit",
            data: vFormEditPegawai,
            type: "POST",
            success: function (model) {
                debugger;
                if (model.Pesan == "Success") {
                    alert("Selamat Berhasil Di Simpan");
                    $("#idModalEditPegawai").modal("hide");
                    window.location.href = "/Pegawai/Index";
                }
            },
            error: function (model) {
            }
        });
    });
</script>