@*Tempat list*@
<p>
    <button id="idBtnCreate" type="button" class=" btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Create Data
    </button>

</p>

<br />
<div class="form-inline col-lg-4 pull-right">
    <input type="text" id="idSearch" name="search" value="" class="form-control col-lg-10" placeholder="Cari Berdasarkan KodeMeja" />
    <button type="button" id="idBtnSearch" class=" btn btn-info col-lg-2">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<br />
<hr />

<div id="idListMeja">

</div>

@*untuk popup create data*@
<div class="modal fade" tabindex="-1" role="dialog" id="idModalCreateMeja">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="idModalBodyMeja">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="idBtnSaveMeja" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*untuk popup edit data*@
<div class="modal fade" tabindex="-1" role="dialog" id="idModalEditMeja">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="idModalBodyEditMeja">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="idBtnSaveEditMeja" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    //inject view list
    $(document).ready(function () {
        $.ajax({
            url: "/Meja/GetList",
            type: "GET",
            success: function (model) {
                $("#idListMeja").html(model);
            }
        });
    });


    $("#idBtnCreate").click(function () {
        $.ajax({
            url: "/Meja/Create",
            type: "GET",
            success: function (model) {
                $("#idModalBodyMeja").html(model);
                $("#idModalCreateMeja").modal("show");
            }
        });
    });

    $("#idBtnSaveMeja").click(function () {
        debugger;
        var vFormMeja = $("#idFormMeja").serialize();

        $.ajax({
            url: "/Meja/Create",
            data: vFormMeja,
            type: "POST",
            success: function (model) {
                debugger;
                if (model.Pesan == "Success") {
                    alert("Selamat Berhasil Di Simpan");
                    $("#idModalCreateMeja").modal("hide");
                    window.location.href = "/Meja/Index";
                }
            },
            error: function (model) {
            }
        });
    });

    $("#idBtnSaveEditMeja").click(function () {
        debugger;
        var vFormEditMeja = $("#idFormEditMeja").serialize();

        $.ajax({
            url: "/Meja/Edit",
            data: vFormEditMeja,
            type: "POST",
            success: function (model) {
                debugger;
                if (model.Pesan == "Success") {
                    alert("Selamat Berhasil Di Simpan");
                    $("#idModalEditMeja").modal("hide");
                    window.location.href = "/Meja/Index";
                }
            },
            error: function (model) {
            }
        });
    });

</script>